﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - R U Being Served?</title>
	@Styles.Render( "~/Content/css" )
	@Scripts.Render( "~/bundles/modernizr" )
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'e0303aee-7659-4cc7-8f43-543f71c167e9'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<img id="logoSimple" src="~/Images/logo_simple.jpg" width="50" height="40" alt="logo" />
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				@Html.ActionLink( "R U Being Served?", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" } )
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink( "Home", "Index", "Home" )</li>
					<li>@Html.ActionLink( "About", "About", "Home" )</li>
					<li>@Html.ActionLink( "Report", "Report", "Home" )</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody( )
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year</p>
			<p>Disclaimer:- The source of the data is the public meeting notes of Napier City Council and Hastings District council. The attendance figure shows the number of meetings attended by each councillor in the year of 2019 Jan - Aug, this include's all main council and sub-committee meetings.</p>
		</footer>
	</div>

	@Scripts.Render( "~/bundles/jquery" )
	@Scripts.Render( "~/bundles/bootstrap" )
	@Scripts.Render( "~/bundles/CouncilGeoJSON" );
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
	@RenderSection( "scripts", required: false )
</body>
</html>